@model Sport 

@{
    ViewData["Title"] = "Create Sport";
}

<h2>Create Sport</h2>

@using (Html.BeginForm("Create", "Sport", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.SportName)
        @Html.TextBoxFor(m => m.SportName)
        @Html.ValidationMessageFor(m => m.SportName, "", new { @class = "text-danger" })
    </div>
    <button class="btn btn-primary" type="submit">Add</button>
}
