@model OlympicMedalistBoard.Models.Sport;

<h2>Delete Sport</h2>

<h3>Are you sure you want to delete: @Model.SportName </h3>

@using (Html.BeginForm("ConfirmDelete", "Sport", FormMethod.Post))
{
    <input type="hidden" asp-for="SportID" />
    <button class="btn btn-primary" asp-action="Index">Back</button>
    <button class="btn btn-danger" asp-action="Delete"  type="submit">Delete</button>
}