@model OlympicMedalistBoard.Models.SportViewModel;

<h2>Edit Sport</h2>

@using (Html.BeginForm())
{
    <input type="hidden" name="SportID" value="@Model.SportID" />
    <div>
        @Html.LabelFor(m => m.SportName)
        @Html.TextBoxFor(m => m.SportName)
        @Html.ValidationMessageFor(m => m.SportName, "", new { @class = "text-danger" })
    </div>
    <button class="btn btn-primary" asp-action="Update" type="submit">Update</button>
}
