@model OlympicMedalistBoard.Models.Medal

<h2>Create Medal</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label asp-for="AthleteID" class="control-label"></label>
            <input asp-for="AthleteID" class="form-control" />
            <span asp-validation-for="AthleteID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SportID" class="control-label"></label>
            <input asp-for="SportID" class="form-control" />
            <span asp-validation-for="SportID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MedalType" class="control-label"></label>
            <input asp-for="MedalType" class="form-control" />
            <span asp-validation-for="MedalType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateAwarded" class="control-label"></label>
            <input asp-for="DateAwarded" class="form-control" />
            <span asp-validation-for="DateAwarded" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

