html {
    font-size: 14px;
}

:root {
    --font-color: #000;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: #fffffa;
}

table {
    table-layout: fixed;
}

td,
th {
    width: 100%;
    border: none;
    text-align: center;
}

tr {
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.1);

    td: first-child,
    th:first-child {
        width: 20%;
    }

}

.btn {
    margin: 0 0.1em;
}

.sbtn {
    min-width: 120px;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

body {
    color: var(--font-color);
}

h3,
b,
input,
textarea,
select,
option,
.form-control {
    font-weight: 200;
}

th>b {
    font-weight: 400;
    color: #666;
}

.dropdown-toggle {
    font-weight: 300;
}

.dropdown-item {
    font-weight: 200;
}

.navbar-brand {
    font-size: 1.75rem;
    font-weight: 200;
}

.product-image img {
    width: min(100%, 100px);
    height: 150px;
    object-fit: contain;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--bs-success);
    border-color: rgba(var(--bs-black-rgb), 0);
}

.page-item .page-link {
    color: #ddd;
    background-color: var(--bs-success);
    border-color: rgba(var(--bs-black-rgb), 0);
}

.dropdown-toggle:empty::after {
    font-size: 0.7em;
}

.dropdown-toggle.bi-person-fill {
    font-size: 1.5em;
}

.user-dropdown.dropdown-menu[data-bs-popper] {
    text-align: right;
    right: 0;
    left: inherit;
}

tbody tr {
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: rgba(var(--bs-white-rgb), 0.8);
    }

    &.selected {}

}

td:first-child,
th:first-child {
    width: 50%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--bs-light);
    color: var(--bs-black)
}

.nav-pills .nav-link {
    color: var(--bs-black);
}

.col-md-6 .btn {
    background-color: var(--bs-success);
}

.btn-group {
    justify-content: center;

    .btn {
        max-width: min(100%, 60px);
    }

}

.photo {
    width: 120px;

    img {
        width: 100%;
    }

}

.form-photo {
    color: var(--bs-yellow);
    transition: all 0.2s ease-in-out;

    img {
        width: 100%;
    }

    &:hover {
        background-color: rgba(var(--bs-light-rgb), 0.8);
    }

}



header {
    margin-top: 25px;
}

header a.navbar-brand {
    display: block;
    height: 120px;
    line-height: 120px;
    padding: 0 20px;
    margin: 0;
    min-width: 100%;
    width: 240px;
    text-align: center;
}

header .navbar-brand img {
    width: 160px;
    background-color: #fffffa;
}

header .nav-item.dropdown {
    width: 18%;
}

header  .nav-link.dropdown-toggle {
    margin: 0;
    padding: 0 20px;
    height: 120px;
    line-height: 120px;
    border-bottom: 2px solid;
    width: 200px;
    text-align: center;
    font-weight: 500;
}

header .dropdown-menu {
    width: 100%;
    background: none;
    border: 0;
    padding: 20px;
}

footer .dropdown-menu {
    width: auto;
    border: 1px solid var(--bs-grey);
    padding: 10px 0;
    text-align: right;
    background: var(--bs-light);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: translate(-50%, -65px) !important;
    left: 50% !important;
}

footer li{
    line-height:30px;
}

#MedalDropdown {
    border-color: var(--bs-info);
    transition: all 0.2s ease-in-out;
    &:hover {
        color: white;
        background-color: rgba(var(--bs-info-rgb),0.2);
    }
}
ul[aria-labelledby="MedalDropdown"] .dropdown-item:focus,
ul[aria-labelledby="MedalDropdown"] .dropdown-item:hover {
    color: white !important;
    background-color: rgba(var(--bs-info-rgb),0.2);
}

#AthleteDropdown {
    border-color: var(--bs-warning);
    transition: all 0.2s ease-in-out;
    &:hover {
        color: white;
        background-color: rgba(var(--bs-warning-rgb),0.2);
    }
}
ul[aria-labelledby="AthleteDropdown"] .dropdown-item:focus,
ul[aria-labelledby="AthleteDropdown"] .dropdown-item:hover {
    color: white !important;
    background-color: rgba(var(--bs-warning-rgb),0.2);
}

#SportDropdown {
    border-color: var(--bs-success);
    transition: all 0.2s ease-in-out;
    &:hover {
        color: white;
        background-color: rgba(var(--bs-success-rgb),0.2);
    }
}
ul[aria-labelledby="SportDropdown"] .dropdown-item:focus,
ul[aria-labelledby="SportDropdown"] .dropdown-item:hover {
    color: white !important;
    background-color: rgba(var(--bs-success-rgb),0.2);
}

#CountryDropdown {
    border-color: var(--bs-danger);
    transition: all 0.2s ease-in-out;
    &:hover {
        color: white;
        background-color: rgba(var(--bs-danger-rgb),0.1);
    }
}
ul[aria-labelledby="CountryDropdown"] .dropdown-item:focus,
ul[aria-labelledby="CountryDropdown"] .dropdown-item:hover {
    color: white !important;
    background-color: rgba(var(--bs-danger-rgb),0.1);
}

.form-control {
    background: none;
}

.form-label[for="Photo"] {
    display: none;
}

label {
    margin-bottom: .5rem;
}