@model Athlete

@{
    ViewData["Title"] = "Edit Athlete";
    var FormView = new
    {
        FormData = new
        {
            Name = new { type = "text", value = Model.Name },
            CountryID = new { type = "dropdown", value = new SelectList(ViewBag.Countries, "CountryID", "CountryName", Model.CountryID) },
            SportID = new { type = "dropdown", value = new SelectList(ViewBag.Sports, "SportID", "SportName", Model.SportID) },
            Birthdate = new { type = "date", value = Model.Birthdate.ToString("yyyy-MM-dd") }
        },
        Btn = "Edit"
    };
}
<partial name="_AthleteStyle" />

<div class="d-flex justify-content-between align-content-center align-items-center">
    <h3 class="my-5">@ViewData["Title"]</h3>
</div>

<partial name="_FormViewForModels" model="FormView" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
